header {
  background-color: rgb(76, 36, 116);
}

h1 {
  color: white;
  font-weight: 100;
}

h2 {
  color: black;
  font-size: 30px;
  margin: 0;
}

p {
  color: black;
  font-size: 20px;
}

.photo {
  width: 100%;
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  margin-bottom: 2.5rem;
}

textarea {
  width: 100%;
  margin: 10px 0;
  border: 1px solid rgb(215, 214, 214);
  border-radius: 5px;
}

input {
  width: 100%;
  margin: 20px 0;
  border: 1px solid rgb(215, 214, 214);
  border-radius: 5px;
  line-height: 30px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

button {
  color: white;
  background-color: rgb(76, 36, 116);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 15px;
}

body {
  font-family: Roboto, serif;
  background-color: rgb(240, 240, 240);
}

label {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 15px;
}

.hidden {
  display: none;
}
