header {
  background-color: rgb(76, 36, 116);
}

h1 {
  color: white;
}

img {
  max-width: 100%;
  background-color: rgb(225, 225, 225);
}

textarea {
  width: 100%;
  margin: 0;
}

input {
  max-width: 100%;
  margin: 0;
}

/* button {
  color: white;
  background-color: rgb(76, 36, 116);
  text-align: right;
  display: block;
  margin-left: auto;
  margin-right: 0;
} */

/* body {
  background-color: rgb(238, 238, 238);
  max-width: 100%;
} */
